@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
main {
  margin: 30px auto;
}
ul {
  list-style-type: none;
}
.row1 .future button {
  width: 20vw;
  padding: 10px 20px;
  background-color: hsl(5, 85%, 63%);
  border: none;
}
.row1 .future button:hover, .row1 .future button:focus {
  background-color: black;
}
.row1 .future button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.row1 .img2 {
  margin-top: 50px;
  height: 55vh;
  background-color: hsl(240, 100%, 5%);
  color: white;
}
.row1 .img2 h2 {
  color: hsl(35, 77%, 62%);
  padding-top: 10px;
  padding-bottom: 10px;
}
.row2 .col .span2:hover, .row2 .col .span2:focus {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}
@media (max-width: 991px) {
  main {
    width: 80%;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    cursor: pointer;
    z-index: 1;
  }
  .toggle.active {
    transition: 0.5s;
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    width: 80%;
    text-align: left;
    height: 100vh;
    transition: 0.5s;
    background-color: #fff;
    padding-top: 170px;
  }
  .nav-item {
    margin: 15px auto;
  }
  .nav-menu.active {
    right: 0;
  }
  .line {
    display: block;
    height: 2px;
    background-color: black;
    width: 30px;
    margin: 5px auto;
  }
  .nav-bar {
    position: fixed;
    top: 50px;
    flex-direction: column;
    width: 80%;
    right: 0;
    text-align: center;
    transform: 0.3s;
  }
  .img1-desktop {
    display: none;
  }
  .row1 .img1-mobile {
    display: block;
    width: 100%;
  }
  .row1 .future {
    display: block;
  }
  .row1 .future h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .row1 .future button {
    width: 50vw;
  }
  .row2 .col {
    display: flex;
    width: 200vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .row2 .col img {
    width: 20vw;
    height: 100%;
    padding-right: 10px;
  }
  .row2 .col span {
    font-weight: 800;
    font-size: 2rem;
    color: hsl(233, 8%, 79%);
  }
  .row2 .col .span2 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
  }
}
/* @media (min-width: 577px) and (max-width: 992px) {
  main {
    width: 95%;
    margin: 30px auto;
  }
  .row1 .img1 .img1-desktop {
    display: block;
    width: 105%;
    height: 45vh;
  }
  .row1 .img1 .img1-mobile {
    display: none;
  }
} */
@media (min-width: 992px) {
  main {
    width: 95%;
    margin: 30px auto;
  }
  .navbar {
    width: 95%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .nav-menu {
    margin-left: auto;
    margin-right: 0;
  }
  .row1 {
    width: 100%;
    height: 100vh;
  }
  .row .img1 {
    margin: 0 5px 10px 9vw;
    padding: auto 32px;
  }
  .row .img1 .img1-desktop {
    width: 58vw;
    height: 60vh;
  }
  .row .img2 {
    width: 21%;
    background-color: hsl(240, 100%, 5%);
    margin-left: 40px;
  }
  .row .img1-mobile {
    display: none;
  }
  .row1 .img1 .img1-desktop {
    display: block;
    width: 105%;
    height: 45vh;
  }
  .toggle {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul li a{
    margin-left: 30px;
  }
  .navbar ul li a:hover {
    color: hsl(5, 85%, 63%);
  }
  .row1 .future h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 10px auto;
  }
  .row1 .img1 .future .para1 {
    padding-top: 20px;
    font-size: 1rem;
  }
  .row1 .img2 {
    margin-top: 0;
    font-size: 1.1rem;
  }
  .row1 .img2 hr {
    margin-top: 20px;
  }
  .row1 .img2 {
    height: 80vh;
  }
  .row2 {
    width: 90%;
    position: relative;
    top: -80px;
    left: 6vw;
  }
  .row2 .col {
    padding: 0 20px;
    display: flex;
    height: 10vh;
    margin: 5px auto 0 25px;
    width: 20%;
  }
  .row2 .col img {
    width: 20vw;
    height: 200%;
    padding-right: 10px;
  }
  span {
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(233, 8%, 79%);
  }
  .row2 .col p {
    position: relative;
    top: -10px;
  }
  .row2 .col .span2{
    font-size: 1.1rem;
    color: #000;
  }
}
